/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-width:1px;
	border-color:rgb(0, 128, 0);
	border-top-style:solid;
	/* border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px; */
}

#red{
	background-color:red;
	border-width:1px;
	border-color:rgb(0, 0, 0);
}

#green{
	background-color:green;
	border-width:1px;
	border-color:rgb(255, 255, 0);
}